<div id="container">
  <div class="half one">
    <h2>Rate My Cakes</h2>
    <form id="newcake" (submit)="create()">
      <!-- <input type="hidden" name="cakeForm._id" value="showCake._id" [(ngModel)]="cakeForm._id"> -->
      <input type="text" name="cakeForm.baker" [(ngModel)]="cakeForm.baker" placeholder="Baker"><br><br>
      <input type="text" name="cakeForm.url" [(ngModel)]="cakeForm.url" placeholder="Image URL"><br><br>
      <input type="submit" value="Add That Cake!">
    </form>

  </div>
  <div class="half two">
    <div id="allcakes">
      <div *ngFor="let cake of cakes" id="list">
        <h3>{{cake.baker}}</h3>
        <button (click)="showCake(cake)"><img [src]=cake.url /></button>
        <form id="rateform" (submit)="rate(cake._id)">
          <!-- <h3>{{cake.baker}}</h3>
    <img [src]=cake.url/> -->
          <h4>RATE that CAKE!</h4>
          <select type="select" name="ratingForm.stars" [(ngModel)]="ratingForm.stars"><br>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select><br><br>
          <input type="text" name="ratingForm.comment" [(ngModel)]="ratingForm.comment" placeholder="comment"><br><br>
          <input type="submit" value="Submit"><br>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="more">
  <app-info [cakeToShow]="more"></app-info>


</div>